.form__save-button {
  background-color: black;
  width: 100%;
  height: 50px;
  margin-top: 18px;
  padding: 0;
  border-style: none;
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: white;
  border-radius: 2px;

}

@media screen and (max-width: 586px) {
  .form__save-button {
    width: 100%;
    font-size: 14px;
    line-height: 17px;
    height: 46px;
    margin-top: 45px;
  }
}

.form__save-button:hover {
  opacity: .8;
}
