.card__like-button {
  background: url(../../../images/like.svg);
  width: 22px;
  height: 19px;
  border: none;
  background-position: center;
  margin: 0 20px 3px 0;
  padding-right: 15px;
  cursor: pointer;
  display: flex;
  flex-direction: column;

}

.card__like-button:hover {
  opacity: 0.5;
}
