.photo-grid__item {
   display: grid;
   grid-template-columns: repeat(auto-fill,minmax(282px,1fr));
   list-style: none;
   padding: 0;
   grid-column-gap: 17px;
   grid-row-gap: 20px;
   margin: 0;
}
