.profile__caption {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  text-align: start;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 786px) {
  .profile__caption {
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (max-width: 586px) {
  .profile__caption {
    text-align: center;
  }
}
