@import url(../vendor/normalize.css);
@import url(../fonts/fonts.css);
@import url(../blocks/root/root.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__caption/profile__caption.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/profile/__information/profile__information.css);
@import url(../blocks/cards/cards.css);
@import url(../blocks/cards/__item/cards__item.css);
@import url(../blocks/card/card.css);
@import url(../blocks/card/__caption/card__caption.css);
@import url(../blocks/card/__description/card__description.css);
@import url(../blocks/card/__image/card__image.css);
@import url(../blocks/card/__like-button/card__like-button.css);
@import url(../blocks/card/__like-button/_active/card__like-button_active.css);
@import url(../blocks/card/__remove-button/card__remove-button.css);
@import url(../blocks/card/card.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__caption/footer__caption.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__close-button/popup__close-button.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/form/form.css);
@import url(../blocks/form/__field/form__field.css);
@import url(../blocks/form/__item/form__item.css);
@import url(../blocks/form/__save-button/form__save-button.css);
@import url(../blocks/popup/__image/popup__image.css);
@import url(../blocks/popup/__caption/popup__caption.css);
@import url(../blocks/popup/__zoom/popup__zoom.css);




