.popup__title {
   font-style: normal;
   font-weight: 900;
   font-size: 24px;
   line-height: 29px;
   margin: 0 0 54px;
   color: black;
   text-align: start;
}

@media screen and (max-width: 586px) {
   .popup__title {
      font-size: 18px;
      line-height: 22px;
      margin: 0 0 75px;
      text-align: center;


      
   }
}      